/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Jost', sans-serif;
  transition-duration: 300ms;
  scroll-behavior: smooth;
}